<% if(theme.valine.enable) { %>
    <div class="vcomment"></div>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine@latest/dist/Valine.min.js'></script>
    <script>
        new Valine({
            av: AV,
            el: '.vcomment',
            visitor: true,
            appId: '<%=theme.valine.app_id %>',
            appKey: '<%=theme.valine.app_key %>',
            placeholder: 'ヾﾉ≧∀≦)o发表你的高见吧!',
            avatar: 'mm',
            pageSize: 10
        })
    </script>
<% } %>